        <link rel="stylesheet" href="<%=assetPath('css/user_profile.css')%>">
        
        <img src="<%= profile_user.avatar %>" alt="<%= profile_usergit.name %>" width="100">

        
        <% if(profile_user.id==user.id){%>
                <form action="/users/update/<%=user.id%>" enctype="multipart/form-data" method="POST">
                        <input type="text" name="name" placeholder="Your Name" value="<%= user.name %>" required>
                        <input type="email" name="email" placeholder="Your email" value="<%= user.email %>" required>
                        <input type="file" name="avatar" placeholder="Profile Picture">
                        <input type="submit" value="Update">
                </form>
                <%}else{%>
                        <p><%= profile_user.name %></p>
                        <p><%= profile_user.email%></p>
                        <% if(!fstatus){ %>
                        <a class="toggle-friend-button" href="/friends/toggle/?id1=<%=profile_user._id%>&id2=<%=user._id%>">Add Friend</a>
                        <%}else{%>
                                <a class="toggle-friend-button" href="/friends/toggle/?id1=<%=profile_user._id%>&id2=<%=user._id%>">Remove Friend</a>    
                        <%}}%>

        